<div class="container mt-4">
  <div *ngIf="transactions">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>User ID</th>
          <th>User FirstName</th>
          <th>User LastName</th>
          <th>Username</th>
          <th>User Password</th>
          <th>User RoleId</th>
          <th>View Details</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.userid }}</td>
          <td>{{ transaction.firstname }}</td>
          <td>{{ transaction.lastname }}</td>
          <td>{{ transaction.username }}</td>
          <td>{{ transaction.password }}</td>
          <td>{{ transaction.roleid }}</td>
          <td><a routerLink="/user-details"><button type="button" class="btn btn-primary">View Details</button></a></td>
          <td><a href=""><button type="button" class="btn btn-warning">Update</button></a></td>
          <td><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
