<!-- <div class="container mt-4">
  <div class="d-flex mt-4 ms-4" style="width: 60%;">
    <input class="form-control me-2" type="search" [(ngModel)]="searchQuery" placeholder="Search by Id , FirstName , LastName or Username" aria-label="Search" #search>
    <button class="btn btn-outline-success" (click)="searchOk(search.value)" type="submit">Search</button>
</div> -->

<div class="container mt-4 w-100">
  <div class="d-flex mt-4 ms-4" style="width: 60%;">
    <input class="form-control me-2" type="search" [(ngModel)]="searchQuery" placeholder="Search" aria-label="Search" />
    <select class="form-select" [(ngModel)]="searchCriteria">
      <option value="id">ID</option>
      <option value="firstname">First Name</option>
      <option value="lastname">Last Name</option>
      <option value="username">Username</option>
    </select>
    <button class="btn btn-outline-success mx-2" (click)="search()" type="button">Search</button>
  </div>
  <div *ngIf="transactions && transactions.length > 0">
    <table class="table table-bordered table-striped mt-4">
      <thead class="thead-dark">
        <tr>
          <th>User ID</th>
          <th>User FirstName</th>
          <th>User LastName</th>
          <th>Username</th>
          <th>User Password</th>
          <th>User Gender</th>
          <th>User RoleId</th>
          <th>View Details</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredContacts">
          <td>{{ transaction.userid }}</td>
          <td>{{ transaction.firstname }}</td>
          <td>{{ transaction.lastname }}</td>
          <td>{{ transaction.username }}</td>
          <td>{{ transaction.password }}</td>
          <td>{{ transaction.gender }}</td>
          <td>{{ transaction.roleid }}</td> 

          <!-- <td><a routerLink="/user-details/1"><button type="button" class="btn btn-primary">View Details</button></a></td> -->
          <td><a routerLink="/user-details/ {{transaction.userid}}"><button type="button" class="btn btn-primary">View Details</button></a></td>
          <td><a routerLink="/update-user/{{transaction.userid}}"><button type="button" class="btn btn-warning">Update</button></a></td>
          <!-- <td><a routerLink="'/user-details/1'"><button type="button" class="btn btn-primary">View Details</button></a></td>
          <td><a routerLink="'/update-user/1'"><button type="button" class="btn btn-warning">Update</button></a></td> -->

          <td> <button class="btn btn-danger" (click)="onDelete(transaction.userid)">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="transactions && transactions.length === 0">
    <p>No matching records found.</p>
  </div>
</div>
