<form (ngSubmit)="updateUser()" #updateForm="ngForm">
  <div class="mb-3">
    <label for="updateFirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required>
  </div>
  <div class="mb-3">
    <label for="updateLastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required>
  </div>
  <button type="button" class="btn btn-primary" (click)="updateUser()">Update</button>

</form>
