<div class="container">
    <button *ngIf="showAddButton" class="btn btn-primary" (click)="toggleFormVisibility()">Add User</button>
    
    <form *ngIf="showForm">
      <!-- Your form fields here -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email address" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  